@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Semangat Pagi !</h1>
    <p class="lead">Selamat datang di aplikasi HCGS Uploader</p> 
    <p><a class="btn btn-primary btn-lg">More effective and efficient &raquo;</a></p>
</div>




